            body {
                background: #222f3e;
            }
            
            h1 {
                font-size: 5em;
            }
           
            .blog-post {
                width: 800px !important;
                background: #bdc3c7;
            }

            .blog-post-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top:20px;
            }

            .blog-post p {
                padding: 30px
            }

            .blog-post h3 {
                padding: 20px 30px;
                background: #ecf0f1;
            }

            .blog-visited {
                width: 400px;
            }

            .fas {
                font-size: 30px;
            }

            .link-class a {
                padding: 0px 10px;
                text-decoration: none;
                font-size: 30px;
                border-right: 2px solid black;
            }

            .link-class {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }

            .blog-post-author{
                display:flex;
                flex-direction: row;
                justify-content: space-between;

            }